<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!--Check http://nlog-project.org/target.File.html for more information about logging and config settings -->
      <target name="file" xsi:type="File" fileName="D:\Projects\Writing\Articles\Spaanjaars.ContactManagerV45\Main\Logs\WcfTests.txt" layout="${longdate} ${callsite} ${level} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <!--Zet het loglevel op Info voor dagelijks gebruik, Er wordt dan weinig gelogd, Foutmeldingen komen er dan wel in-->
      <!--Zet het loglevel op Debug (veel info) of op Trace (heel veel info) om problemen op te sporen-->
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
